@font-face {
    font-family: titulo;
    src: url(../static/Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf) format(truetype);
}

body{
    padding: 0px;
    margin:0px;
    overflow-X: hidden;
    background-image: linear-gradient( #801f61, rgba(42, 32, 111, 0.836));
    font-family: 'titulo',sans-serif;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
#header{
    display: flex;
    justify-content: space-between;
    background-color: white;
    height: 70px;
} 
.logo{
    width: 60px;
    height: 60px;
    margin-right: 10px;
}
.menuimg{
    width: 40px;
    height: 40px;
    margin: 10px;
}
h1{
    font-size: 1.2em;
    margin: 20px;
    color: #ffffff;
}
h2{
    color: rgba(42, 32, 111, 0.836);
    
}
.registro{
    text-decoration: none;
    color: rgba(42, 32, 111, 0.836);
    font-size: 1.2em;
}
.senha{
    text-decoration: none;
    color: rgba(42, 32, 111, 0);
}

.caixa{
    border: 2px solid #801f61;
    border-radius: 20px;
    margin: 10px;
    padding: 10px;
}
input{
        cursor: pointer;
        font-family: 'titulo',sans-serif;
        font-size: 1.5em;
        border: none;
        border-bottom: 2px solid #801f61;
        background-color:rgba(42, 32, 111, 0);
        margin: 10px 10px 20px 10px;
        height: 20px;
        margin-top: 10px;
        width: 300px;
        padding: 5px;
        color: rgb(0, 0, 0);
}
input:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
}
#dados{
    background-color: white;
    border-radius: 10px;
    
}
#minhaconta{
    height: 500px;
    width: 700px;
    text-align: center;
    background-color: white;
    text-align: center;
    margin: 0 auto;
    padding: 20px;
    margin-top: 50px;
    border-radius: 20px;
    border: 15px solid transparent;
    border-image: linear-gradient(#fadef2, rgba(239, 236, 255, 0.836));
    border-image-slice: 1;
}
button{
    background-color: rgba(42, 32, 111, 0.836);
    padding: 20px;
    border: none;
    color: white;
    border-radius: 10px;
    font-family: 'titulo',sans-serif;
    letter-spacing: 2px;
    font-size: 18px;
    margin: 10px;
    cursor: pointer;
}
button:hover{
    background-color: #801f61;
}
@media (max-width:700px) {
    h1{
        font-size: 1em;
    }
}
