@font-face {
    font-family: titulo;
    src: url(../static/Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf) format(truetype);
}


body{
    padding: 0px;
    margin:0px;
    overflow-X: hidden;
    background-image:linear-gradient( #ffffff,  rgb(243, 240, 248));
    font-family: 'titulo',sans-serif;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

table, th, td {
    border: 2px solid rgb(121, 3, 95);
}

table {
    border-collapse: collapse;
    margin: auto;
}

th, td{
    padding: 10px;
    text-align: center;
    width: 120px;
}

th{
    font-weight: bold;
}


tr:nth-child(even) {
    background-color: #ffffff;
}

#opções{
    display: flex;
    justify-content: space-around;
}



#header{
    display: flex;
    justify-content: space-between;
} 
.logo{
    width: 50px;
    height: 50px;
    margin-right: 10px;
}
.menuimg{
    width: 40px;
    height: 40px;
    margin: 10px;
}
.menu{
    color: #ffffff;
    background-color: #2a206fe5;
    border-radius: 20px;
    margin: 5px;
}
.menu:hover{
    background-color:f;
}
#partes{
    overflow: scroll;
    display: flex; 
    justify-content: center;
    min-width: 300px;
    max-height: 700px;
}
.logotipo{
    max-width: 350px;
}
#logot{
    text-align: center;
    margin: 25px 10px;
    
}
.login{
    color:rgb(127, 30, 97);
    right: 0;
    margin: 5px;
    font-size: 1.3em;
    cursor: pointer;
}
#antesap{
    margin-right: 1250px;
}
.indicação{
    background-color: #801f61;
    color: white;
    padding: 10px;
    border-radius: 20px 20px 20px 0px;
    width: 100%;
}
a{
    text-decoration: none;
}
h2{
    color: #801f61;
}
#cliente{
    color:#801f61;
}
.registro{
    text-decoration: none;
    color: #ffffff;
}
.senha{
    text-decoration: none;
    color: rgba(42, 32, 111, 0);
}
a:link{
    color:#801f61;
}
input{
        cursor: pointer;
        font-family: 'titulo',sans-serif;
        font-size: 1.5em;
        border: none;
        border-bottom: 2px solid #801f61;
        background-color:rgba(42, 32, 111, 0);
        margin: 10px 10px 20px 10px;
        height: 20px;
        margin-top: 10px;
        width: 300px;
        padding: 5px;
        color: rgb(0, 0, 0);
}
input:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
}
#finalizado{
    display: none;
}
#aprovado{
    display: none;
}
#negado{
    display: none;
}
select{
    border:2px solid #801f61;
    border-radius: 20px;
    padding: 10px;
    font-size: 1em;
}
#produto{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
option{
    padding: 10px;
}
#ro{
    max-width: 1500px;
    margin-bottom: 80px;
    margin: 0 auto;
    text-align: center;
    background-color: white;
    border-radius: 5px;
    border: 15px solid transparent;
    border-image: linear-gradient( #801f61,  rgb(46, 17, 100));
    border-image-slice: 1;
}
.link:link{
    color: white;
}
.link{
    text-decoration: none;
    color: rgb(255, 255, 255);
    background-color: rgb(65, 25, 139);
    border-radius: 10px;
    padding: 5px;
}
.abrir{
    background-color: white;
    text-align: center;
    color: white;
    padding: 10px;
    border-radius: 10px;
    margin: 40px;
    font-size: 1.5em;
}
.abrindo{
    padding-top: 25px;
}
#dados{
    text-align: center;
}
.title{
    background-color: #801f61;
    text-align: center;
    color: white;
    padding: 10px;
    border-radius: 10px;
    margin: 40px;
    font-size: 1.2em;
}
.opção{
    margin-top: 40px;
}
.opção:focus{
    box-shadow: 0 0 0 0;
    outline: 0;
}
#minhaconta{
    background-color: white;
    width: 400px;
    text-align: center;
    margin: 0 auto;
    padding: 20px;
    margin-top: 50px;
    border: 2px solid #801f61;
    border-radius: 20px;
}
.cadalink{
    color: rgb(190, 28, 150);
    text-decoration: none;
    background-color:rgba(42, 32, 111, 0.836);
}
.cadalink:link{
    color: rgb(190, 28, 150);
    
}
button{
    background-color: rgba(42, 32, 111, 0.836);
    padding: 20px;
    border: none;
    color: white;
    border-radius: 10px;
    font-family: 'titulo',sans-serif;
    letter-spacing: 2px;
    font-size: 18px;
    margin: 10px;
    cursor: pointer;
}
button:hover{
    background-color: #801f61;
}

#status{
    margin-top: 50px;
}
#antes{
    margin-right: 0px;
}
.app{
    margin-top: 100px;
}
#antess{
    margin-right: 0px;
}
#ro ::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }
  #ro ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background:#801f61;
  }
  #ro ::-webkit-scrollbar-track {
    background: #ededed;
  }
@media (max-width:1100px) {
    #ro{
        width: 700px;
        background-color: white;
        border-radius: 5px;
    }
    #antes{
        margin-right: 200px;
    }
}
@media (max-width:700px) {
    #opções{
        display: block;
        justify-content: space-around;
    }
    #ro{
        width: 340px;
        background-color: white;
        border-radius: 5px;
    }
    #antes{
        margin-right: 800px;
    }
}
@media (min-width:1250px) {
    
    #ro{
        max-width: 1500px;
        background-color: white;
        border-radius: 5px;
    }
}
@media (min-width:1000px) {
   
    #ro{
        max-width: 1500px;
        background-color: white;
        border-radius: 5px;
    }
}
