body{
    padding: 0px;
    margin:0px;
    overflow-X: hidden;
    background-image: url(../static/fundobl.png);
    font-family: 'titulo',sans-serif;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#header{
    display: flex;
    justify-content: space-between;
} 
.logo{
    width: 60px;
    height: 60px;
    margin-right: 10px;
}
.menuimg{
    width: 40px;
    height: 40px;
    margin: 10px;
}
.menu{
    color: #ffffff;
    background-color: rgba(42, 32, 111, 0.897);
    border-radius: 20px;
    margin: 5px;
}
.menu:hover{
    background-color:f;
}
#partes{
    overflow: scroll;
    display: flex; 
    justify-content: center;
    min-width: 300px;
    max-height: 1000px;
}
.logotipo{
    max-width: 350px;
}
#logot{
    text-align: center;
    margin: 25px 10px;
}
.login{
    color:rgb(127, 30, 97);
    right: 0;
    margin: 5px;
    font-size: 1.3em;
    cursor: pointer;
}
.indicação{
    background-color: #801f61;
    color: white;
    padding: 10px;
    border-radius: 0px 20px 20px 20px;
}
a{
    text-decoration: none;
}
h2{
    color: #801f61;
}
#cliente{
    color:#801f61;
}
.registro{
    text-decoration: none;
    color: #ffffff;
}
.senha{
    text-decoration: none;
    color: rgba(42, 32, 111, 0);
}
a:link{
    color:#801f61;
}
input{
        cursor: pointer;
        font-family: 'titulo',sans-serif;
        font-size: 1.5em;
        border: none;
        border-bottom: 2px solid #801f61;
        background-color:rgba(42, 32, 111, 0);
        margin: 10px 10px 20px 10px;
        height: 20px;
        margin-top: 10px;
        width: 300px;
        padding: 5px;
        color: rgb(0, 0, 0);
}
input:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
}
select{
    border:2px solid #801f61;
    border-radius: 20px;
    padding: 10px;
    font-size: 1em;
}
#produto{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
option{
    padding: 10px;
}
#ro{
    max-width: 1500px;
    margin: 80px;
    position: absolute;
    background-color: white;
    border-radius: 5px;
}
#clientes{
    height: 1250px;
    text-align: center;
    background-image: linear-gradient(rgb(65, 25, 139),#801f61);
    margin: 40px 20px 20px 20px;
    border-radius: 20px;
    padding: 0px 0px 20px 0px;

}
.link:link{
    color: white;
}
.link{
    text-decoration: none;
    color: rgb(255, 255, 255);
    background-color: rgb(65, 25, 139);
    border-radius: 10px;
    padding: 5px;
}
.abrir{
    background-color: white;
    text-align: center;
    color: white;
    padding: 10px;
    border-radius: 10px;
    margin: 40px;
    font-size: 1.5em;
}
.abrindo{
    padding-top: 25px;
}
#dados{
    text-align: center;
}
.title{
    background-color: #801f61;
    text-align: center;
    color: white;
    padding: 10px;
    border-radius: 10px;
    margin: 40px;
    font-size: 1.2em;
}
.opção{
    margin-top: 40px;
}
.opção:focus{
    box-shadow: 0 0 0 0;
    outline: 0;
}
#minhaconta{
    background-color: white;
    width: 400px;
    text-align: center;
    margin: 0 auto;
    padding: 20px;
    margin-top: 50px;
    border: 2px solid #801f61;
    border-radius: 20px;
}
.cadalink{
    color: black;
    text-decoration: none;
}
.cadalink:link{
    color:#000000;
}
button{
    background-color: rgba(42, 32, 111, 0.836);
    padding: 20px;
    border: none;
    color: white;
    border-radius: 10px;
    font-family: 'titulo',sans-serif;
    letter-spacing: 2px;
    font-size: 18px;
    margin: 10px;
    cursor: pointer;
}
button:hover{
    background-color: #801f61;
}

#status{
    margin-top: 50px;
}
#antes{
    margin-right: 350px;
}
html ::-webkit-scrollbar {
    width: 5px;
  }
  html ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background:#801f61;
  }
  html ::-webkit-scrollbar-track {
    background: #ededed;
  }
@media (max-width:1100px) {
    #ro{
        width: 700px;
        margin: 20px;
        position: absolute;
        background-color: white;
        border-radius: 5px;
    }
    #antes{
        margin-right: 900px;
    }
    #clientes{
        height: 1250px;
        text-align: center;
        background-image: linear-gradient(rgb(65, 25, 139),#801f61);
        margin: 40px 20px 20px 20px;
        border-radius: 20px;
        padding: 0px 0px 20px 0px;
    
    }
}
@media (max-width:700px) {
    #ro{
        width: 340px;
        margin: 20px;
        position: absolute;
        background-color: white;
        border-radius: 5px;
    }
    #antes{
        margin-right: 1400px;
    }
    #clientes{
        height: 1250px;
        text-align: center;
        background-image: linear-gradient(rgb(65, 25, 139),#801f61);
        margin: 40px 20px 20px 20px;
        border-radius: 20px;
        padding: 0px 0px 20px 0px;
    
    }
}
@media (min-width:1250px) {
    
    #ro{
        max-width: 1500px;
        margin: 80px;
        position: absolute;
        background-color: white;
        border-radius: 5px;
    }
    #clientes{
        height: 1250px;
        text-align: center;
        background-image: linear-gradient(rgb(65, 25, 139),#801f61);
        margin: 40px 20px 20px 20px;
        border-radius: 20px;
        padding: 0px 0px 20px 0px;
    
    }
}
@media (min-width:1000px) {
   
    #ro{
        max-width: 1500px;
        margin: 80px;
        position: absolute;
        background-color: white;
        border-radius: 5px;
    }
    #clientes{
    height: 1250px;
    text-align: center;
    background-image: linear-gradient(rgb(65, 25, 139),#801f61);
    margin: 40px 20px 20px 20px;
    border-radius: 20px;
    padding: 0px 0px 20px 0px;

}
}